* {
  font-family: var(--font-family);
}

.header {
  display: flex;
  justify-content: center;
  height: 108px;
}

.header-wrapper {
  display: flex;
  padding: 32px 16px;
  max-width: var(--max-width);
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 42px;
}

.navbar {
  height: 42px;
  display: flex;
}

.nav-menu {
  display: flex;
  column-gap: 40px;
  align-items: center;
}

.nav-menu li {
  font-size: 1rem;
  line-height: 1.5rem;
}

.nav-menu li a {
  font-family: var(--font-family);
  text-decoration: none;
  color: #3b3c4a;
  transition: color 0.5s;
}

.nav-menu li a:hover {
  color: var(--primary-color);
}

.search-input {
  background-color: #f4f4f5;
  min-width: 166px;
  min-height: 36px;
  border-radius: 4px;
  border: 1px solid rgba(255, 2555, 255, 0);
  text-indent: 20px;
}

.search-input::placeholder {
  font-size: 0.875rem;
  color: #a1a1aa;
  line-height: 20px;
}

.search-input:focus {
  border: 1px solid var(--primary-color);
  outline: none;
  color: #3b3c4a;
}